<div id="container">
<%= link_to image_tag("sascoder_logo_tagline.gif", :alt=>"Specializing in SAS jobs for  SAS Coders and Programmers", :border=>0), :controller=>'site', :action=>'index' %>
<h1>Purchase Credits</h1>
<span style="padding-left:20px">You currently have <strong><%= "#{@user.credits}"%></strong> credits in your account.</span>
<% form_tag :action=> :checkout do |f| %>
<table>
	<tr><td>
<div class="roundedcornr_box_659996" style="width:75%;">
   <div class="roundedcornr_top_659996"><div></div></div>
      <div class="roundedcornr_content_659996">
	  <div class="cash-img"></div>
		Each credit costs <strong>$99</strong> and is for 30 day increments.  
		The credits stay in your account until they are used.<br><br>
		Purchase <%= text_field_tag(:n, nil, :size=>2) %> credits.<br><br>
	    Click <input type="button" value="next" onclick="showPrice('n')" /> to show purchase options.
      </div>
   <div class="roundedcornr_bottom_659996"><div></div></div>
</div>
	</td><td><div class="roundedcornr_box_659996" style="width:75%;">
   <div class="roundedcornr_top_659996"><div></div></div>
      <div class="roundedcornr_content_659996">
	  <div class="question-img"></div>
	  Ads do not run on the site until they have a<br> credit applied to them.  You can apply more<br> than one credit to an ad
	  if you would like it to run for more than 30 days.
	<br><br><br><br>
      </div>
   <div class="roundedcornr_bottom_659996"><div></div></div>
</div></td>
<tr><table>
<br><br>
<div class="hidden" id="payOptions">
<div class="roundedcornr_box_659996">
   <div class="roundedcornr_top_659996"><div></div></div>
      <div class="roundedcornr_content_659996">
		
			<!--%= image_submit_tag "https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" % -->
			<%= link_to "(click)Beta Receive 1 credit instead of PayPal", :action=> :beta_purchase %>

		<div id="payDetails"></div>
		<hr>
		<div>
			<div class="info-img"></div>
			Paying with Paypal involves three steps.
			<ol>
				<li>Click the "Checkout With Paypal" button.  This takes you to Paypal's site.</li>
				<li>Choose your method of payment on Paypal's site.  Click next to return to this site and review your order.</li>
				<li>On the final payment page you can review your order and finalize your payment.</li>
			</ol>
			** Feel free to call with any questions: stephen at (310) 896-5638. **
		</div>

      </div>
   <div class="roundedcornr_bottom_659996"><div></div></div>
</div>
</div>
<% end %>
</div>