<h1>Buy Credits</h1>
Each credit costs $99 and is for 30 day increments.  
The credits stay in your account until they are used.
<p>
<% form_tag :action=> :checkout do |f| %>
     Purchase <%= text_field_tag(:n, nil, :size=>2) %> credits.<br><br>
     <%= image_submit_tag "https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif", :onclick=>"showPrice('n')" %>
  <% end %>
<br><br>
<div class="hidden" id="showPrice">
	</div>
</p>
