<div id="container">

<%= render(:partial => "shared/header") %>
<div id="content">
 <%= render(:partial => "index") %>
</div>
<div id="sidebar">
  <%= render(:partial => "shared/sidebar") %>
</div>

<div id="footer">
</div>

</div>
