/*
Colors used:
background color: 
Container border: 
Header: 
*/

body {
    
	margin-top: 5;
	margin-left: 5;
	margin-right: 5;
	padding: 2em;
	background-color: #bac2c7;	
	font-size: 16px;

}

.body-text{
	font-size: 16px;
}

body, p, h1, h2, h3, h4, table, td, th, ul, ol, textarea, input {
  font-family: tahoma, arial,sans-serif;
}

textarea {
  font-size: 100%;
  width: 600px;
}

.search-block{
	background-color: #bac2c7;
	padding: 8px;
	width: 90%;
	font-size: 16px;
}
.small{
  font-size: 10px;
}
fieldset.notes{
	background-color: #ffffe1;
	width: 148px;
}
div.notes h4 {
	
	background-image: url("/images/icon_info.gif");
	background-position: left top;
	background-repeat: no-repeat;
	border-color: #666666;
	border-style: solid;
	border-width: 0 0 1px;
	color: #666666;
	font-size: 100%;
	padding: 3px 0 3px 27px;
}

.last {
	margin: 0;
	font-size: 70%;
	color: #666666;
}

#container {
	position: relative;
	width: 1024px;
	border: 2px solid #eeeeee;  
	top: 10px;
	clear: both;
	padding: 2em; 
	text-align: left;
	min-height: 600px;
	background-color: #FFFFFF;
	}

#header {
	 height: 100px; /* 60 for pic + 32 for both flash[:] + 100 for top */
	 top: 10px;
	background-color: #ffffff;
/*	border-bottom: 2px solid #002097; */
	/* border-top: 2px solid #002097; */
	}
td.employer{
	width: 550px;
}

#notice_error{
	background-color: #ffff99;
	color: #e85163;
	text-align: center;
}
#notice_notice{
	background-color: #bac2c7;
	text-align: center;
}

.employer-nav{
  font-size: 80%;
}
#content {
	float: right;
	width: 768px;
   /*     height: 600px; */
	background-color: #FFFFFF;
	padding: 3px;
	margin: 3; 
/*	border-top: 2px solid #336699; 
	border-bottom: 2px solid #336699; */
	}

#sidebar {
	float: left;
	width: 190px;
/*	height: 600px; */
	top: 0;
	right: 0;
/*	background-color: #eeeeee; */
	margin: 3;
	text-align: left;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 15px;
/*	border: 2px solid #336699; 
	border-right: 2px solid #002097;
	border-left:  2px solid #336699; 
	border-bottom:  2px solid #002097; */
	}

#footer {
	clear: both;
	border-top: 2px solid #bac2c7;
	font-size: 80%;
	text-align: center;
	}
	
#left{
  float: left;
  width: 50%;
}

#right{
  float: right;
  width: 50%;
}

ul.simple{
  list-style-type: none;
}
	
	
h1 { 
  color: #616a71;
 /* height: 30px; */
  text-align: left;
  padding-left: 3px;
  font-size: 250%;
  
}

h3 { 
  color: #616a71;  
  padding-left:40px;
  text-align: left;
  font-size: 140%;
}

.indent{
  padding-left: 1px;

}

.important {
  color: #616a71;
  font-size: 120%;
}

fieldset {
  border: 1px solid #bac2c7;
}


div.required{
	font-weight:bold;

}

div.optional{
	font-weight:normal;
}


div.column_header {
  color: #002097;
  font-weight: bold;
}

ul.programs{
  list-style-type: circle;
}

td.top_align {
  vertical-align: top;
}

th.small{
	width:100px;
}
th.medium{
	width: 200px;
}
th.large{
	width:400px;
}

span.jobText{
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-weight: 400;
}

fieldset.inner{
  background-color: #ffffff;
}

fieldset.optional{
  background-color: #ffffff;
  border: 1px solid #bac2c7;
}

div.hidden {
  visibility: hidden;
}

table.bordered{
	border: 1px solid #bac2c7;
}