<hr>
<div style="padding-left:20px;">      
This site is best viewed using:
	   <table>
		<tr><td style="border-right: solid 1px;"><a href="http://www.firefox.com"><%= image_tag("firefox_small.png", :border=>0) %></a></td>
			<td style="border-right: solid 1px;"><a href="http://www.safari.com"><%= image_tag("safari_small.png", :border=>0) %></a></td>
			<td><a href="http://www.google.com/chrome"><%= image_tag("google_chrome_small.png", :border=>0) %></a></td>
			</tr>
	   </table>
	</div>
	<div style="padding-left:20px">
	  If you are stuck with internet explorer, try setting it to compatibility view (IE8).<br>BTW, if you happen to be curious why I don't spend <strong>tons</strong> of time tweaking to make the site look good in IE, check out this <a href="http://blogs.msdn.com/b/ie/archive/2010/03/02/how-ie8-determines-document-mode.aspx">post</a> from blogs.msdn.com  Ouch!
	</div>
	<center>
	<p>All Content (C) 2010 sasCoders.com</p>
    </center>
