<div class="roundedcornr_box_659996">
   <div class="roundedcornr_top_659996"><div></div></div>
      <div class="roundedcornr_content_659996">
		This is going to have some links and stuff.
		<ul>
			<li>link one</li>
			<li>link two</li>
			<li>link three</li>
			<li>link four</li>
		</ul>
      </div>
   <div class="roundedcornr_bottom_659996"><div></div></div>
</div>


		