<div class="roundedcornr_box_659996">
   <div class="roundedcornr_top_659996"><div></div></div>
      <div class="roundedcornr_content_659996">
<a href="http://datasteps.blogspot.com"><%= image_tag("live_journal.png", :border=>0) %></a>read:<br>sas programming blog.<br><br>
<a href="http://twitter.com/sasCoder" target="_new"><%= image_tag("twitter.png", :border=>0) %></a>follow:<br> <a href="http://twitter.com/sasCoder" target="_new">@sasCoder</a> on twitter.<br>
      </div>
   <div class="roundedcornr_bottom_659996"><div></div></div>
</div>


		