<div class="roundedcornr_box_659996">
   <div class="roundedcornr_top_659996"><div></div></div>
      <div class="roundedcornr_content_659996">
	  <div class="star-img"></div>
Thank you for joining sasCoders.com.  Here are the next steps to get you started.<br>
<ol>
	<li>Please take a moment to update your <%= link_to "company profile", :controller=>'user', :action=>"edit_company" %> .  Your company information is displayed along with the ads you create.</li>
	<li><%= link_to "Create an ad.", :controller=>'job_posting', :action=>"addJob" %> </li>
	<li>View your <%= link_to "profile page", :controller=>'user', :action=>'index' %> to manage ads, buy credits, etc.</li>
</ol>
If you ever have any questions, you can always contact us directly at support@sascoders.com or call Stephen at 310-896-5638.
	
      </div>
   <div class="roundedcornr_bottom_659996"><div></div></div>
</div>


