<div class="roundedcornr_box_659996" style="width:20%;">
   <div class="roundedcornr_top_659996"><div></div></div>
      <div class="roundedcornr_content_659996">
      Quick Start<br><br>
<table>
	<tr> <td> Create ad </td> <td><%= link_to '>>', :controller=>'job_posting', :action=>"addJob" %> </td</tr>
<tr><td>	Buy Credits </td> <td><%= link_to '>>', :controller=>'buy_credits' %> </td</tr>
<tr><td>	Manage Ads </td><td><%= link_to '>>', :controller=>'user', :action=>'manage_ads' %></td></tr>
</table>
      </div>
   <div class="roundedcornr_bottom_659996"><div></div></div>
</div>
