<div id="left">
<strong>Your Profile</strong>
  <br><br>
    <p>Currently Running Ads: <a href="#">0</a></p>
    <p>Saved Ads: <a href="#">0</a></p>
    <a href="#">Edit</a>
    <ul class="simple">
      <li>Name: <%= "#{@user.first_name} #{@user.last_name}" %></li>
      <li>Company: <%= @user.company %></li>
      <li>Company Description: <%= @user.company_description %></li>
    </ul>
    
  </div>
  <div id="right">
    <p>Credits Available: <%= @user.credits %></p>
    <p><a href="#">Purchase Credits</a></p>
  </div>
