<h1>Listing users</h1>

<table>
  <th>Email</th>
  <th>User Name</th>
  
<% @users.each do |user| %>
  <tr>
	<td><%= user.email %></td>
	<td><%= user.user_name %></td>
		
  </tr>
<% end %>
</table>
<br><br>
<!-- i need this to just render the template, not run the controller method -->
<%= link_to "register", :controller=>"user", :action=>"collect" %>
<br />
