<style> body{ background-color: #ffffff;}</style>
<%= link_to image_tag("sascoder_logo_tagline.gif", :alt=>"Specializing in SAS jobs for  SAS Coders and Programmers", :border=>0), :controller=>'site', :action=>'index' %>
<h1>Log In</h1>
	<div style="padding: 2em; width:240px;">
		<%= render(:partial => "show_login" )%>
	</div>
