<div id="container">
<%= render(:partial => "shared/header") %>


<div id="content">
	<h1>Edit Job</h1>
	
	<div class="roundedcornr_box_659996">
	   <div class="roundedcornr_top_659996"><div></div></div>
	      <div class="roundedcornr_content_659996">
	<%= render(:partial => "edit") %>
 
</div>
<div id="footer">
</div>

</div>
