What makes sasCoders.com different?<br>
<p>This site is created by <a href="www.stephenphilp.com">Stephen Philp</a>-- a SAS consultant.  I review every job that is posted to ensure it is SAS relevant.  I work 
with recruiters to ensure their job postings are succinct and accurate.  In short, you will not see any jobs that ask you 
to know proc merge :)</p>