<p>
We specialize in bringing you high quality SAS programming jobs.
</p>
<p><strong>Employers:</strong><br>
Looking for SAS Coders, Programmers, Analysts and Statisticians?<br><%= link_to "Learn More!", :controller=>:site, :action=>:employers %> | 
<%= link_to 'register', :controller=>'user', :action=>'collect' %>
</p>
<p><strong>Coders:</strong><br>
Looking for SAS Coder, Programmer, Analyst and statistician jobs?<br><%= link_to "Learn More!", :controller=>:site, :action=>:coders %>
</p>
<hr>
