<h1>What makes sasCoders.com different?</h1><br>
<p><strong>Experience:</strong><br>
This site is created by <a href="www.stephenphilp.com">Stephen Philp</a>-- a SAS consultant.  I am an invited speaker at SAS conferences and I work directly and network
with the skilled SAS consultants you want to hire.  I can work with you to ensure your ad is relevant and meaningful to skilled SAS programmers.
</p>
<p>
<strong>Cost:</strong><br>
dice.com costs ~$495/month per posting<br>
icrunchdata.com costs ~$375/month per posting<br>
monster.com costs ~$375/month per posting<br><br>
<strong>sasCoders.com $99/month per posting!</strong>
</p>
<hr>
<strong>How it works</strong><br>
<strong>1. Register.</strong>  It's fast.  It's free.  It's simple.<br>
<strong>2. Create an ad.</strong>  We provide an easy to use interface to create, manage and edit your ads.<br>
<strong>3. Buy Credits.</strong> Credits cost only $99 for 30 day increments.  The 30 days don't start till you apply the credit to one of your saved ads.
