<div id="container">
<%= render(:partial => "shared/header") %>


<div id="content">
	<div style="padding-left:20px">
      <%= render(:partial => "coders") %>
    </div>
 <%= render(:partial => "shared/search") %>
</div>
<div id="sidebar">
  <%= render(:partial => "shared/sidebar") %>
</div>

<div id="footer">
</div>

</div>
