<div id="container">
<div id="header">
<%= render(:partial => "shared/header") %>
</div>

<div id="content">
 <%= render(:partial => "site/content") %>
</div>
<div id="sidebar">
  <%= render(:partial => "shared/sidebar") %>
</div>

<div id="footer">
</div>

</div>
